<div class="row m-auto">
    <div class="alinear">
        <h2>Carreras Técnicas que encontraras</h2>
    </div>
</div>
<div class="row m-auto">
    <div class="col-md-12 text-center">
        <div class="row">
            <div class="card col mr-3 p-100" style="width: 18rem;">
                <img src="./assets/img/mecanica.jpg" class="card-img-top" alt="Mecanica Automotriz">
                <div class="card-body">
                    <h5 class="card-title">Mecanica Automotriz</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card card col mr-3 p-100" style="width: 18rem;">
                <img src="./assets/img/eleccom.jpg" class="card-img-top" alt="Electronica Industrial">
                <div class="card-body">
                    <h5 class="card-title">Electronica Industrial</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card col mr-3 p-100" style="width: 18rem;">
                <img src="./assets/img/mecanica.jpg" class="card-img-top" alt="Mecanica Automotriz">
                <div class="card-body">
                    <h5 class="card-title">Mecanica Automotriz</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col mr-3 p-100" style="width: 18rem;">
                <img src="./assets/img/mecanica.jpg" class="card-img-top" alt="Mecanica Automotriz">
                <div class="card-body">
                    <h5 class="card-title">Mecanica Automotriz</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card card col mr-3 p-100" style="width: 18rem;">
                <img src="./assets/img/eleccom.jpg" class="card-img-top" alt="Electronica Industrial">
                <div class="card-body">
                    <h5 class="card-title">Electronica Industrial</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card col mr-3 p-100" style="width: 18rem;">
                <img src="./assets/img/mecanica.jpg" class="card-img-top" alt="Mecanica Automotriz">
                <div class="card-body">
                    <h5 class="card-title">Mecanica Automotriz</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
    </div>
</div>