/* clase  */
.alinear {
  text-align: center;
  margin-top: 20px;
}

ul li {
  list-style: none;
}

mat-form-field {
  width: 100%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 6%;
}

#color-verde {
  color: green ;
}

#color-rojo {
  color: #e20101 ;
}

/* para formularios */
.form-element-container {
  display: flex;
  flex-direction: column;
}

.form-element-container > * {
    width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
}
.login-container > * {
  width: 100%;
}

